<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Первая страница на фреймворке Джанго</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Второй урок по фреймворку Джнаго - Первая страница</h1>-->
<!--</body>-->
<!--</html>-->

{% extends 'main/layout.html' %}

    {% block title %}
        <title>Первая страница на фреймворке Джанго</title>
    {% endblock %}


    {% block content%}
        <h1> Второй урок по фреймворку Джнаго - Первая страница </h1>
    {% endblock %}