<nav class="nav-menu">
    <ul>
        <li><a href="{% url 'home' %}" class="nav-button">Главная</a></li>
        <li><a href="{% url 'new' %}" class="nav-button">New</a></li>
        <li><a href="{% url 'data' %}" class="nav-button">Data</a></li>
        <li><a href="{% url 'test' %}" class="nav-button">Test</a></li>
        <li><a href="{% url 'news_home' %}" class="nav-button">Новости</a></li>
        <li><a href="{% url 'create_news' %}" class="nav-button">Добавление новости</a></li>
    </ul>
</nav>