body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: deeppink;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: relative;
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    margin: 0 auto;
    overflow: hidden;
    height: 150px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{% static 'main/image/SmBh.png' %}');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 0;
}

.header span,
.header img {
    position: relative;
    z-index: 1;
}

.header .center-image {
    height: calc(100% - 20px);
    margin: 10px 0 10px 10px;
}

.header .right-image {
    height: 100%;
    margin-right: 10px;
}

.header span {
    font-size: calc(150px * 0.4);
    font-weight: bold;
}

.separator {
    height: 2px;
    background-color: #ccc;
    width: calc(100% - 40px);
    margin: 0 20px;
}

.layout {
    display: flex;
    flex: 1;
}

.nav-menu {
    background-color: deeppink;
    width: 220px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px 10px 10px;
    background-color: maroon;
    text-decoration: none;
    color: white;
    border: none;
    text-align: left;
}

.nav-button.active,
.nav-button:hover {
    background-color: #ff69b4;
}

.content {
    background-color: deeppink;
    flex-grow: 1;
    padding: 40px 40px 40px 40px;
    padding-top: 0px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.footer {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 10px;
    width: calc(100% - 40px);
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.footer-image {
    height: 50px; /* Устанавливаем высоту изображения в футере */
    margin: 10px 0; /* Отступы сверху и снизу */
}